# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
VGWagers.v12.suo
*.suo
*.dll
*.cache
VGWagers/obj/Debug/VGWagers.csproj.FileListAbsolute.txt
/VGWagers.Tests/bin/Release/EntityFramework.SqlServer.xml
/VGWagers.Tests/bin/Release/EntityFramework.xml
/VGWagers.Tests/bin/Release/Microsoft.AspNet.Identity.Core.xml
/VGWagers.Tests/bin/Release/Microsoft.AspNet.Identity.EntityFramework.xml
/VGWagers.Tests/bin/Release/Microsoft.AspNet.Identity.Owin.xml
/VGWagers.Tests/bin/Release/Microsoft.Owin.Host.SystemWeb.xml
/VGWagers.Tests/bin/Release/Microsoft.Owin.Security.Cookies.xml
/VGWagers.Tests/bin/Release/Microsoft.Owin.Security.Facebook.xml
/VGWagers.Tests/bin/Release/Microsoft.Owin.Security.Google.xml
/VGWagers.Tests/bin/Release/Microsoft.Owin.Security.MicrosoftAccount.xml
/VGWagers.Tests/bin/Release/Microsoft.Owin.Security.Twitter.xml
/VGWagers.Tests/bin/Release/Microsoft.Owin.Security.xml
/VGWagers.Tests/bin/Release/Microsoft.Owin.xml
/VGWagers.Tests/bin/Release/Newtonsoft.Json.xml
/VGWagers.Tests/bin/Release/RestSharp.xml
/VGWagers.Tests/bin/Release/System.Web.Helpers.xml
/VGWagers.Tests/bin/Release/System.Web.Mvc.xml
/VGWagers.Tests/bin/Release/System.Web.Optimization.xml
/VGWagers.Tests/bin/Release/System.Web.Razor.xml
/VGWagers.Tests/bin/Release/System.Web.WebPages.Deployment.xml
/VGWagers.Tests/bin/Release/System.Web.WebPages.Razor.xml
/VGWagers.Tests/bin/Release/System.Web.WebPages.xml
/VGWagers.Tests/bin/Release/Twilio.Api.pdb
/VGWagers.Tests/bin/Release/Twilio.Api.xml
/VGWagers.Tests/bin/Release/VGWagers.Tests.dll.config
/VGWagers.Tests/bin/Release/VGWagers.Tests.pdb
/VGWagers.Tests/bin/Release/VGWagers.pdb
/VGWagers.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/VGWagers.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/VGWagers.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/VGWagers.Tests/obj/Release/VGWagers.Tests.csproj.FileListAbsolute.txt
/VGWagers.Tests/obj/Release/VGWagers.Tests.pdb
/VGWagers/Properties/PublishProfiles/VGWagers.pubxml
/VGWagers/Properties/PublishProfiles/VGWagers.pubxml.user
/VGWagers/obj/Release/CSAutoParameterize.parameters.xml
/VGWagers/obj/Release/CSAutoParameterize/original/Views/Web.config
/VGWagers/obj/Release/CSAutoParameterize/original/Web.config
/VGWagers/obj/Release/CSAutoParameterize/transformed/Views/Web.config
/VGWagers/obj/Release/CSAutoParameterize/transformed/Web.config
/VGWagers/obj/Release/InsertAdditionalCS/original/Web.config
/VGWagers/obj/Release/InsertAdditionalCS/transformed/Web.config
/VGWagers/obj/Release/Package/PackageTmp/Content/Site.css
/VGWagers/obj/Release/Package/PackageTmp/Content/bootstrap-datetimepicker.css
/VGWagers/obj/Release/Package/PackageTmp/Content/bootstrap-datetimepicker.min.css
/VGWagers/obj/Release/Package/PackageTmp/Content/bootstrap-theme.css
/VGWagers/obj/Release/Package/PackageTmp/Content/bootstrap-theme.css.map
/VGWagers/obj/Release/Package/PackageTmp/Content/bootstrap-theme.min.css
/VGWagers/obj/Release/Package/PackageTmp/Content/bootstrap.css
/VGWagers/obj/Release/Package/PackageTmp/Content/bootstrap.css.map
/VGWagers/obj/Release/Package/PackageTmp/Content/bootstrap.min.css
/VGWagers/obj/Release/Package/PackageTmp/Content/images/Facebook_Hover.png
/VGWagers/obj/Release/Package/PackageTmp/Content/images/Facebook_Normal.png
/VGWagers/obj/Release/Package/PackageTmp/Content/images/Google_Hover.png
/VGWagers/obj/Release/Package/PackageTmp/Content/images/Google_normal.png
/VGWagers/obj/Release/Package/PackageTmp/Content/images/Microsoft_Hover.png
/VGWagers/obj/Release/Package/PackageTmp/Content/images/Microsoft_Normal.png
/VGWagers/obj/Release/Package/PackageTmp/Content/images/Twitch_Hover.png
/VGWagers/obj/Release/Package/PackageTmp/Content/images/Twitch_Normal.png
/VGWagers/obj/Release/Package/PackageTmp/Content/images/Twitter_Hover.png
/VGWagers/obj/Release/Package/PackageTmp/Content/images/Twitter_Normal.png
/VGWagers/obj/Release/Package/PackageTmp/Content/images/ajax-loader.gif
/VGWagers/obj/Release/Package/PackageTmp/Content/vgwager.css
/VGWagers/obj/Release/Package/PackageTmp/Content/zocial.css
/VGWagers/obj/Release/Package/PackageTmp/Global.asax
/VGWagers/obj/Release/Package/PackageTmp/Models/Entities.edmx.diagram
/VGWagers/obj/Release/Package/PackageTmp/Scripts/App/LoginModal.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/_references.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/bootstrap-datetimepicker.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/bootstrap-datetimepicker.min.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/bootstrap.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery-2.1.4.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery-2.1.4.min.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery-2.1.4.min.map
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery.unobtrusive-ajax.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery.unobtrusive-ajax.min.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery.validate.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery.validate.min.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.bootstrap.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.bootstrap.min.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.bootstrap.min.js.map
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.min.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/modernizr-2.6.2.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/moment-with-locales.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/moment-with-locales.min.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/moment.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/moment.min.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/npm.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/respond.js
/VGWagers/obj/Release/Package/PackageTmp/Scripts/respond.min.js
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/ConfirmEmail.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/ExternalLoginConfirmation.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/ExternalLoginFailure.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/ForgotPassword.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/ForgotPasswordConfirmation.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/Login.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/Login1.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/Register.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/ResetPassword.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/ResetPasswordConfirmation.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/SendCode.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/VerifyCode.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Account/_ExternalLoginsListPartial.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Home/About.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Home/Contact.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Manage/AddPhoneNumber.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Manage/ChangePassword.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Manage/Index.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Manage/ManageLogins.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Manage/SetPassword.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Manage/VerifyPhoneNumber.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Shared/Error.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Shared/Lockout.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Shared/LoginModal.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Shared/RegisterModal.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Shared/_LayoutModal.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Shared/_LoginPartial.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Shared/_LoginPartialForm.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Shared/_MenuPartial.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Shared/_RegisterPartialForm.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Views/Web.config
/VGWagers/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
/VGWagers/obj/Release/Package/PackageTmp/Web.config
/VGWagers/obj/Release/Package/PackageTmp/favicon.ico
/VGWagers/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.eot
/VGWagers/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.svg
/VGWagers/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.ttf
/VGWagers/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.woff
/VGWagers/obj/Release/Package/PackageTmp/packages.config
/VGWagers/obj/Release/Package/VGWagers.SourceManifest.xml
/VGWagers/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/VGWagers/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/VGWagers/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/VGWagers/obj/Release/TransformWebConfig/assist/Web.config
/VGWagers/obj/Release/TransformWebConfig/original/Web.config
/VGWagers/obj/Release/TransformWebConfig/transformed/Web.config
/VGWagers/obj/Release/VGWagers.Migrations.CreateAllTables.resources
/VGWagers/obj/Release/VGWagers.csproj.FileListAbsolute.txt
/VGWagers/obj/Release/VGWagers.pdb
/VGWagers/obj/Release/_WPPLastBuildInfo.txt
/VGWagers/obj/Release/edmxResourcesToEmbed/Models/Entities.csdl
/VGWagers/obj/Release/edmxResourcesToEmbed/Models/Entities.msl
/VGWagers/obj/Release/edmxResourcesToEmbed/Models/Entities.ssdl
