
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}

.social-network a.twitchBlank:hover {
	background-color:purple;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/*div.footer-r3{
    text-align:center;
    align-content:center;
    align-items:center;
    align-self:center;
    display: inline-block;
    left:50%;
}*/

/*.paymentOptions{
    background-color: #1B1C1E;
border-top: 1px solid #323335;
border-bottom: 1px solid #323335;
padding: 15px 0px;
margin: 15px 0px;
width: 90%;
}*/

.paymentOptionsDiv{
    border-top: 1px solid #323335;
border-bottom: 1px solid #323335;
 background-color: #1B1C1E;
 display:inline-block;
 align-items:center;
 align-content:center;
 flex-wrap:wrap;
 display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
   
}

ul.paymentOptions {
	list-style: none;
	display: inline;
	padding: 0;
    background-color: #1B1C1E;
    padding: 15px 0px;
    margin: 15px 15px;
    width: 100%;
}
ul.paymentOptions li {
	display: inline;
	margin: 0 5px;
}


.ccHelpLinks {
      color:#428bca;
      font-size:smaller;
     font-style:normal;
}

/*a {
 background-color: #D3D3D3;   
}*/

.twitchBlank {

}

