.main-loading-div
{ 
        background-color:none;
        text-align:center;
        vertical-align:middle;
        align-items:center;
        position:absolute;
        z-index:2000;
        top: 50%;
        left:50%;
        /*width:100%;
        height:100%;*/
        opacity:0.4;

}

.modal-loading-div
{ 
        background-color:none;
        text-align:center;
        vertical-align:middle;
        align-items:center;
        position:absolute;
        z-index:10000;
        left: 50%;
        top: 50%;
       
}

.or-container {
	text-align: center; color: rgb(128, 128, 128); font-variant:normal ; margin-top: 20px;
}
.or-hr {
	border-width: 3px 0px 0px; border-style: solid none none; border-color: rgb(230, 230, 230) currentColor currentColor; border-image: none; height: 0px; margin-bottom: -20px;
}
#or {
	padding: 10px; display: inline-block; position: relative; background-color: rgb(255, 255, 255); font-size: 16px;
}

.login-form {
    margin-left:2px;
}

.modal-link {
    font-size: 18px;    
}

label .padding-left-5-right-15 {
    padding-left:5px !important;
    padding-right:15px !important;
}

.modal .modal-dialog { width: 40%; }
