.loadingContainer{
    display: block;
    z-index: 400000;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.main-loading-div
{ 
        /*background:rgba(0,0,0,0.2);
        display:block;
        text-align:center;
        vertical-align:middle;
        align-items:center;
        justify-content:center;
        line-height: 100%;
        position:relative;*/
        
        /*top: -0%;
        left:-0%;*/
        width:100%;
        height:100%;        
        /*opacity:0.8;
        pointer-events:none;*/
}


.modal-loading-div
{ 
        background:rgba(0,0,0,0.6);
        display:block;
        text-align:center;
        justify-content:center;
        vertical-align:middle;
        line-height: 100%;
        border-radius: 3px;
        position:absolute;
        z-index:40000;
        left: -0%;
        top: -0%;
       /*pointer-events:none;*/
       height:100%;
       width:100%;
       opacity:0.8;
}

#loadingImage {
    position:absolute;
    display: block; 
    top:50%;
  bottom:0;
  left:50%;
  right:0;
  margin:auto;
}

.or-container {
	text-align: center; color: rgb(128, 128, 128); font-variant:normal ; margin-top: 20px;
}
.or-hr {
	border-width: 3px 0px 0px; border-style: solid none none; border-color: rgb(230, 230, 230) currentColor currentColor; border-image: none; height: 0px; margin-bottom: -20px;
}
#or {
	padding: 10px; display: inline-block; position: relative; background-color: rgb(255, 255, 255); font-size: 16px;
}

.login-form {
    margin-left:2px;
}

.modal-link {
    font-size: 18px;    
}

label .padding-left-5-right-15 {
    padding-left:5px !important;
    padding-right:15px !important;
}

/*.modal .modal-dialog { width: 40%; }*/
@media only screen 
and (min-width : 1900px) {
    .modal-login {
        /*width: 482px;*/
        width: 25%;
    }

    .modal-register {
        /*width:540px;*/
        width: 40%; 
    }
}

@media only screen 
and (min-width : 800px) 
and (max-width : 1800px) {
    .modal-login {
        /*width: 482px;*/
        width: 36%;
    }

    .modal-register {
        /*width:540px;*/
        width: 49%; 
    }
}

@media only screen 
and (min-width : 480px) 
and (max-width : 800px) {
    .modal-login {
        /*width: 482px;*/
        width: 57%;
    }

    .modal-register {
        /*width:540px;*/
        width: 52%;
    }
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .modal-login {
        /*width: 482px;*/
        width: 97%;
    }

    .modal-register {
        /*width:540px;*/
        width: 95%;
    }
}

@media only screen and (min-width : 768px) {
    .forgot-password-link {
        text-align: right;
        padding: 5px 0px;
        padding-right: 0px !important;
        max-width: 99%;
        float: right;
        margin-right: 0px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .forgot-password-link {
        text-align: right;
        padding: 5px 0px;
        padding-right: 0px !important;
        max-width: 99%;
        float: right;
        margin-right: 15px;
    }
}

.login-button {
    max-width:144.28px;
    float:left;
}

.signup-button{
    text-align:right;
    margin-right:25px; 
    margin-top:15px; 
    max-width:90%;
    float:right;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 359px){
    .btn {
        padding:6px 4px !important;
    }
}

.termsCheckbox {
    align-items:flex-end;
    align-self:flex-end;
    left:65px;
}


#circularG{
	position:relative;
	width:83px;
	height:83px;
	margin: auto;
    top:50%;
}

.circularG{
	position:absolute;
	background-color:rgb(243, 233, 233);
	width:19px;
	height:19px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:bounce_circularG;
		-o-animation-name:bounce_circularG;
		-ms-animation-name:bounce_circularG;
		-webkit-animation-name:bounce_circularG;
		-moz-animation-name:bounce_circularG;
	animation-duration:0.768s;
		-o-animation-duration:0.768s;
		-ms-animation-duration:0.768s;
		-webkit-animation-duration:0.768s;
		-moz-animation-duration:0.768s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#circularG_1{
	left:0;
	top:33px;
	animation-delay:0.288s;
		-o-animation-delay:0.288s;
		-ms-animation-delay:0.288s;
		-webkit-animation-delay:0.288s;
		-moz-animation-delay:0.288s;
}

#circularG_2{
	left:8px;
	top:8px;
	animation-delay:0.384s;
		-o-animation-delay:0.384s;
		-ms-animation-delay:0.384s;
		-webkit-animation-delay:0.384s;
		-moz-animation-delay:0.384s;
}

#circularG_3{
	top:0;
	left:33px;
	animation-delay:0.48s;
		-o-animation-delay:0.48s;
		-ms-animation-delay:0.48s;
		-webkit-animation-delay:0.48s;
		-moz-animation-delay:0.48s;
}

#circularG_4{
	right:8px;
	top:8px;
	animation-delay:0.576s;
		-o-animation-delay:0.576s;
		-ms-animation-delay:0.576s;
		-webkit-animation-delay:0.576s;
		-moz-animation-delay:0.576s;
}

#circularG_5{
	right:0;
	top:33px;
	animation-delay:0.672s;
		-o-animation-delay:0.672s;
		-ms-animation-delay:0.672s;
		-webkit-animation-delay:0.672s;
		-moz-animation-delay:0.672s;
}

#circularG_6{
	right:8px;
	bottom:8px;
	animation-delay:0.768s;
		-o-animation-delay:0.768s;
		-ms-animation-delay:0.768s;
		-webkit-animation-delay:0.768s;
		-moz-animation-delay:0.768s;
}

#circularG_7{
	left:33px;
	bottom:0;
	animation-delay:0.864s;
		-o-animation-delay:0.864s;
		-ms-animation-delay:0.864s;
		-webkit-animation-delay:0.864s;
		-moz-animation-delay:0.864s;
}

#circularG_8{
	left:8px;
	bottom:8px;
	animation-delay:0.96s;
		-o-animation-delay:0.96s;
		-ms-animation-delay:0.96s;
		-webkit-animation-delay:0.96s;
		-moz-animation-delay:0.96s;
}



@keyframes bounce_circularG{
	0%{
		transform:scale(1);
	}

	100%{
		transform:scale(.3);
	}
}

@-o-keyframes bounce_circularG{
	0%{
		-o-transform:scale(1);
	}

	100%{
		-o-transform:scale(.3);
	}
}

@-ms-keyframes bounce_circularG{
	0%{
		-ms-transform:scale(1);
	}

	100%{
		-ms-transform:scale(.3);
	}
}

@-webkit-keyframes bounce_circularG{
	0%{
		-webkit-transform:scale(1);
	}

	100%{
		-webkit-transform:scale(.3);
	}
}

@-moz-keyframes bounce_circularG{
	0%{
		-moz-transform:scale(1);
	}

	100%{
		-moz-transform:scale(.3);
	}
}

#slider {
        width: 500px;
    }

#slider li {
            width: 250px;
    }

.main-body {
    background: url("images/top_light_1.jpg") no-repeat center top ;
}

.news-box {
    background: url("images/hn_box_bg.png") repeat-x top left #1f1f1f;
    margin-right: 5px;
    -webkit-border-radius: 5px;
}

@media (min-width: 992px) {
    .news-box {
        width: 32.8%;
    }

    .carousel-container {
        height: 500px;
    }
}

.news-title {
    color: #2ac0ff;
}

.news-title:hover {
    color: #fff;    
}

.news-content {
    color: #99cccc;
}

.body-bg {
    background:url("images/background_loop.jpg") repeat top left;
}

.div-bg {
    background-color:#1f1f1f;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-right:1px;
    color:#428bca; 
    /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);*/
}

.active-tab {
    display: -webkit-box !important;
    
}

@-moz-document url-prefix() {
.active-tab {
    display:flex !important;
    
}
}

.lookup-list-title {
    padding-top:10px;
}

.Inactive {
    background-color:darkgrey;
}

.remove {
    color:red;
}

.cancel-link {
    padding-left: 20px;
}
}

.cchidden{
    display:none ;
}

.ccIconHolderInfront{
float: left;
text-align: left;
height: 34px;
padding-top: 7px;
font-size:larger;
}

.ccGreenColor{
    color : rgb(29, 221, 7);
}

.ccRedColor{
    color : red;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.inner-addon { 
    position: relative; 
     max-width : 280px;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  /*pointer-events: none;*/
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

.formBackground1{
   background: linear-gradient(to right,  #9c9e9f 0%,#9c9e9f 50%,#f6f6f6 50%,#f6f6f6 100%);
   border-radius:3px;
}

.announcementBanner{
   background: linear-gradient(to right, #9c9e9f, #f6f6f6);
   border-radius:3px;
}

.profileDisplayPad {
    padding-top:6px;
}
.right-addon input { padding-right: 30px; }

.div-for-button-below-grid {
    text-align: right;
    margin-right: 15px;
}

.main-loading-div-background {
    display: none;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
}

.context-menu--active {
  display: block;
}